@model FirstProject.ViewModels.BuildingViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<p>
    @Html.ActionLink("Add Flat" , "CreateFlat", new {id = Model.Id} )
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayFor(model => model.Address)
        </th>
   
        <th>
            @Html.DisplayFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayFor(model => model.NumberOfFlats)
        </th>


    </tr>
    <tr>
      <th colspan="3">
          <table>
              <tr>
                  <th>Floor</th>
                  <th>Number</th>
                  <th>Furnished</th>
                  <th>Parking</th>
                  <th>PetAllowed</th>
                  <th>BillsIncluded</th>
                  <th>Bedroom</th>
              </tr>
              @foreach (var item in Model.Flats)
              {
                  <tr>

                      <td>@Html.DisplayFor(modelItem => item.Floor)</td>
                      <td>@Html.DisplayFor(modelItem => item.Number)</td>
                      <td>@Html.CheckBoxFor(modelItem => item.Furnished.Value)</td>
                      <td>@Html.CheckBoxFor(modelItem => item.Parking.Value)</td>
                      <td>@Html.DisplayFor(modelItem => item.PetAllowed)</td>
                      <td>@Html.DisplayFor(modelItem => item.BillsIncluded)</td>
                      <td>@Html.DisplayFor(modelItem => item.Bedroom)</td>
                      
                  </tr>

              }

          </table>
      </th>
    </tr>
   
        
          
        
    </table>