@model IEnumerable < FirstProject.ViewModels.IndexRentPaymentViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th colspan="3">
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlatNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td colspan="3">
                @Html.DisplayFor(modelItem => item.BuildingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentAmount)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RentPaymentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RentPaymentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RentPaymentId })|
               
            </td>
        </tr>
    }
</table>
