@model FirstProject.ViewModels.DetailsContractViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


<table class="table">
    <tr>
        <th colspan="3">@Html.DisplayNameFor(model => model.BuildingName)</th>
        <th>@Html.DisplayNameFor(model => model.FlatNumber)</th>
        <th>@Html.DisplayNameFor(model => model.TenantFirstName)</th>
        <th>@Html.DisplayNameFor(model => model.TenantLastName)</th>
        <th>@Html.DisplayNameFor(model => model.StartDate)</th>
        <th>@Html.DisplayNameFor(model => model.EndDate)</th>
        <th>@Html.DisplayNameFor(model => model.PaymentDay)</th>
        <th>@Html.DisplayNameFor(model => model.RentAmount)</th>
    </tr>
    <tr>
        <td colspan="3">
            @Html.DisplayFor(model => model.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(model => model.FlatNumber)
        </td>
        <td>
            @Html.DisplayFor(model => model.TenantFirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.TenantLastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.StartDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.EndDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.PaymentDay)
        </td>
        <td>
            @Html.DisplayFor(model => model.RentAmount)
        </td>
    </tr>
</table>