@model FirstProject.ViewModels.EditContractViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>TenantFirstName</td>
            <td>
                @Html.EditorFor(model => model.TenantFirstName)
            </td>
        </tr>
        <tr>
            <td>
                TenantLastName
            </td>
            <td>
                @Html.EditorFor(model => model.TenantLastName)
            </td>
        </tr>
        <tr>
            <td>StartDate</td>
            <td>
                @Html.EditorFor(model => model.StartDate)
            </td>
        </tr>
        <tr>
            <td>EndDate</td>
            <td>
                @Html.EditorFor(model => model.EndDate)
            </td>
        </tr>
        <tr>
            <td>RentAmount</td>
            <td>
                @Html.EditorFor(model => model.RentAmount)
            </td>
        </tr>
        <tr>
            <td>BuildingName</td>
            <td>
                @Html.EditorFor(model => model.BuildingName)
            </td>
        </tr>
        <tr>
            <td>FlatNumber</td>
            <td>
                @Html.EditorFor(model => model.FlatNumber)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
}


