@model FirstProject.ViewModels.DetailsAgencyViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create", "Create New", new { id = Model.AgencyId })
</p>
<table class="table">
    <tr>
        <th colspan="3">
            @Html.DisplayNameFor(model => model.AgencyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
    </tr>
    <tr>
        <td colspan="3">
            @Html.DisplayFor(model => model.AgencyName)
        </td>
        <td>
            @Html.DisplayFor(model => model.UserName)
        </td>
        <td>
            @Html.DisplayFor(model => model.UserId)
        </td>
    </tr>
</table>
